.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}

body {
  background-color: #f6f6f6;
  margin: 0;
}

.cont {
  display: flex;
  justify-content: center;
}

.back {
  background-color: #f4eddd; 
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.change {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

h1, h3, h4, p {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

button {
  margin: 10px;
  cursor: pointer;
}

nav{
  display: flex;
  justify-content: center;
  padding: 15px;
  background: #cfd8dc;
  width: 100vw;
}

.link{
  padding: 10px 40px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.long-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.long-text h3{
  font-size: 28px;
  font-weight: 700;
  align-self: center;
}

@media all and (max-width: 400px){
  .cont {
    flex-wrap: wrap;
  }

  h2{
    text-align: center;
  }

  nav{
    flex-direction: column;
    align-items: center;
  }
}